<div id="<%= dom_id article %>" class="p-5 mx-2 bg-zinc-800 rounded-lg shadow-md mb-4">
  <div class="flex gap-5">
    <p class="my-3">
      <strong class="block text-zinc-300 font-semibold mb-1">Título:</strong>
      <span class="text-white"><%= article.title %></span>
    </p>

    <p class="my-3">
      <strong class="block text-zinc-300 font-semibold mb-1">Autor:</strong>
      <span class="text-zinc-400"><%= article.user.name %></span> 
    </p>

    <p class="my-3">
      <strong class="block text-zinc-300 font-semibold mb-1">Categoria:</strong>
      <span class="text-lime-400"><%= article.category %></span>
    </p>
  </div>
  <p class="my-3">
    <strong class="block text-zinc-300 font-semibold mb-1">Artigo:</strong>
    <span class="text-zinc-200"><%= article.content %></span>
  </p>
</div>


