<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rookie Coder Network" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body class="bg-gray-950 text-white">
    <main class="bg-gray-950 text-white">
      <%= render 'layouts/nav' %>
      <% if alert.present? %>
        <div class="div-alert " id="notice" id="alert">
          <span><%= alert %></span>
          <button class="px-1 py-1 right-0 mt-1 mr-1 text-red-500 hover:text-red-700 text-2xl leading-none" onclick="document.getElementById('alert').style.display = 'none';">
          </button>
        </div>
      <% end %>
      <% if notice.present? %>
        <div class="div-notice" id="notice">
          <span class="pr-2"><%= notice %></span>
          <button class="px-1 py-1 right-0 mt-1 mr-1 text-green-500 hover:text-green-700 text-2xl leading-none" onclick="document.getElementById('notice').style.display = 'none';">
          </button>
        </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
    <script>
        function hideAlert(name){
          const alert = document.getElementById(name)
          if(alert){
            setTimeout(()=>{
              alert.style.display ='none'
            }, 2000)
          }
        }
        hideAlert('alert')
        hideAlert('notice')
    </script>
  </body>
</html>
